/* estilos de cabecera */

/*  creamos la barra gris del header*/
header{
	background-color: #252525;
	padding-top: 15px;
}
/* nos ayuda a centrar la imagen y el texto*/
	.bar{
		background-color: #252525;
		padding-top: 15px;
	}
		header div div div label{
			padding-top: 15px;
		}
/* insertaremos imagen de fondo del header en segunda fila*/
			#img-fondo{
				background-image: url(../img/Compu.png);
				width: 100%;
				height: 100%;				
			}
/*acomodaremos el texto que va en el fondo de imagen del header comput.png */
			.al-text-img{
				line-height: 1;
				padding-top: 10%;
				padding-left: 15%;
				font-size: 40px;
			}	
				