/* OVERALL */

html, body, #header {
    margin: 0 !important;
    padding: 0 !important;
	font-family: 'Ubuntu', sans-serif;
	background:#F0F0F0;
	color:#F0F0F0;
}

a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

a:hover {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.navbar{
	display: none;
	width: 14%;
	position: fixed;
    right: 14%;
    top: 8%;
    background-color: #6b6b6b!important;
    padding: 0;
    width: 56px;
    border-radius: 8px;
    border-style: hidden;
}

.navbar-collapse{
	width: 500px !important;
    position: absolute;
    background-color: inherit;
    top: 75px;
    padding: 10px;
    left: calc(50% - 95px);
}

/* HEADER */

#header{
	width:100%;
	height: 108px;
	max-height: 108px;
	top: 0;
	position: absolute;
	background-color: #252525;
}

.header-row{
	padding: 0;
	margin: 18px 5px 0px 5px;
}

.imgHeaderIcon{
	width:30%
}

.txt-header-center{
	position: relative;
    top: 20px;
}

/* MEDIAQUERIES */

@media (max-width: 1453px){
	.imgHeaderIcon{
		width:45% !important;
	}

	.header-row{
		padding: 0;
		margin: 14px 5px 0px 5px;
	}

	body
	{
		font-size: 15px; 
	}
}

@media (max-width: 891px){
	.imgHeaderIcon{
		width:55% !important;
	}

	.header-row{
		padding: 0;
		margin: 25px 5px 0px 5px;
	}

	body
	{
		font-size: 15px; 
	}
}

@media (max-width: 881px){
	.txt-header-center
	{
		font-size: 12px;
	}
}

@media (max-width: 767px){
	.imgHeaderIcon{
		width:30% !important;
	}
	.header-row{
		padding: 0;
		margin: 13px 5px 0px 115px;
	}
	.txt-header-center
	{
		display: none; 
	} 

	.navbar{
		display: flex;
	}
}

@media (max-width: 721px){
	.imgHeaderIcon{
		width:34% !important;
	}
}

@media (max-width: 675px){
	.header-row{
		margin: 14px 5px 0px 65px;
	}
}

@media (max-width: 649px){
	.header-row{
		margin: 16px 5px 0px 65px;
	}
}

@media (max-width: 549px){
	.header-row{
		margin: 26px 5px 0px 65px;
	}
}

@media (max-width: 485px){
	.header-row{
		margin: 27px 5px 0px 65px;
	}
}

@media (max-width: 389px){
	.imgHeaderIcon{
		width:41% !important;
	}	
}

@media (max-width: 311px){
	.imgHeaderIcon{
		width:49% !important;
	}
	.header-row{
		margin: 27px 5px 0px 29px !important;
	}	
}

@media (max-width: 289px){
	.header-row{
		margin: 27px 5px 0px 15px !important;
	}	
}
